bin/.local/share
bin/.local/state
bin/.local/bin/nvr
nvim/.config/nvim/lazy-lock.json
bin/.local/bin/config.json
qutebrowser/.config/qutebrowser/quickmarks
.DS_Store
zed/.config/zed/prompts/prompts-library-db.0.mdb
vifm/.config/vifm/vifminfo.json
vifm/.config/vifm/scripts/README
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/autoconfig.yml.backup
bin/.local/bin/op
bin/.local/lib/vivaldi
