keybinds clear-defaults=true {
  normal {
    // Tabs
    bind "Alt w" { NewTab; }
    bind "Alt Shift w" { CloseTab; }
    bind "Alt Left" { GoToPreviousTab; }
    bind "Alt Right" { GoToNextTab; }
    bind "Alt 1" { GoToTab 1; }
    bind "Alt n" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt e" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt i" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt o" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt a" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt r" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt s" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt t" { GoToTab 8; }

    // Panes
    bind "Alt p" { NewPane "Right"; }
    bind "Alt Shift p" { CloseFocus; }
    bind "Alt Shift p" { CloseFocus; }
    bind "Ctrl Left" { FocusNextPane; }
    bind "Ctrl Right" { FocusPreviousPane; }

    // Navigation
    bind "Alt u" { HalfPageScrollUp; }
    bind "Alt d" { HalfPageScrollDown; }

    // Sessions
    bind "Ctrl Space" {
      LaunchOrFocusPlugin "zellij:session-manager" {
        floating true
      }
    }
  }
}

// UI and theme
simplified_ui true
pane_frames false
theme "kanagawa"
